@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



.container {

  background-color: rgba(53, 97, 75, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  
}

.wrapper {
  width: 100%;
  height: 100%;
  
}

.banner1 {
  background-image: url(../public/brilliant_planet.png);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 350px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
.banner2 {
  background-image: url(../public/Mangroves.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 350px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
.banner3 {
  background-image: url(../public/Ethiopian.png);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 350px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
.banner4 {
  background-image: url(../public/blue_carbon.png);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 350px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
.banner5 {
  background-image: url(../public/solar.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 350px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
.banner6 {
  background-image: url(../public/wind.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 350px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}

.h1{
  font-family: 'Righteous', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
}

.p {
  color: #9c9a9a;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button_wrapper{
  margin-top: 18px;
}

.btn_outline {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
  background: transparent;
  color: #FFF6BD;
  border: 1px solid #FFF6BD;
  transition: all .3s ease;
}

.btn_outline + .btn_fill {
  margin-left: 10px;
}


.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

.btn_fill {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
  background: transparent;
  background: #FFF6BD;
  color: rgba(13, 1, 1, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}

.amount_fill {
  border: none;
  padding: 12px 8px;
  border-radius: 10px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
  background: transparent;
  color: #FFF6BD;
  border: 1px solid #FFF6BD;
  transition: all .3s ease;
}
.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  height: auto; /* Let the height adjust automatically based on content */
  max-width: 100%;
}
.container_seller {
  background-color: #c3c1fc;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 1250px;
	height: 650px;
  
}

.container_pending {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 1250px;
	height: 100%;
  
}
.descriptionField {
  width: 100%; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
}
.smallFormField {
  width: 350px; 
  height: 30px; 
}

.container_nft {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 350px;
	height: 450px;
  
}
.text-neutral-950{
  color:#2f2e2e !important ;
}
.container_card_NFT {
  background-color:rgba(53, 97, 75, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 20px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  width: 670px;
	max-height: 600px;
  overflow: hidden;
}
.container_logo {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 70px;
	max-height: 100px;
}
.container_average_price {
  background-color: #29ca44c9;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 20px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  width: 270px;
	max-height: 100px;
}
.container_name {
  background-color: #bd537fc9;
  padding: 22.5px;  
  width: 270px;
	max-height: 100px;
}

.container_amounts_tons {
  background-color: #bd537fc9; 
  padding: 20px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 100px;
	max-height: 100px;
}
.container_price_tons {
  background-color: #bd537fc9;
  padding: 20px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 100px;
	max-height: 100px;
}
.container_amounts_tokens {
  background-color: #bd537fc9;
  padding: 20px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 100px;
	max-height: 100px;
}
.container_amounts_tokens2 {
  background-color: #bd537fc9;
  padding: 2px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 100px;
	max-height: 100px;
}
.container_input_amounts_tokens {
  padding: 10px;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60px !important;
  max-height: 100px;
  flex-basis: 60px;
}
.btn_buy_token {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
  background: transparent;
  background: #FFF6BD;
  color: rgba(13, 1, 1, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}
.glow_on_hover {
	width: 220px;
	height: 50px;
	border: none;
	outline: none;
	color: #fff;
	background: #3f3939;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
  }
  
  .glow_on_hover:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left:-2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
  }
  
  .glow_on_hover:active {
	color: #695c5c
  }
  
  .glow_on_hover:active:after {
	background: transparent;
  }
  
  .glow_on_hover:hover:before {
	opacity: 1;
  }
  
  .glow_on_hover:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #148416;
	left: 0;
	top: 0;
	border-radius: 10px;
  }
  
  @keyframes glowing {
	0% { background-position: 0 0; }
	50% { background-position: 400% 0; }
	100% { background-position: 0 0; }
  }