.container {
	padding: 0 2rem;
	
}
.box {
	flex-direction:  column ;
	height: 50em;
	display: flex;
    align-items: flex;
    justify-content: center;
  }
  .box_acc {
	flex-direction:  column ;
	display: flex;
    align-items: center;
    justify-content: flex-start
  }
  .box_pic {
	flex-direction:  column ;
	display: flex;
    align-items: center;
    justify-content: flex-start;
	margin-left: 130px; ;
  }
.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}
.title_block{
	text-align: center;
}
.description {
	margin: 4rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
		monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {
	.card,
	.footer {
		border-color: #222;
	}
	.code {
		background: #111;
	}
	.logo img {
		filter: invert(1);
	}
}
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");



.diva {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 6vw;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;

  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }

  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
}
.image_member_level{
	display: flex;
    gap: 30px;
}
.image_member_behavior{
	display: flex;
    gap: 10px;
}
.box_card_prj{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  height: auto; /* Let the height adjust automatically based on content */
  max-width: 100%;
}
.box_id_behavior{
	display: flex;
    gap: 450px;
}
.box_login{
    display: flex;
	flex-direction: column;
	align-items: center;
	height: 400px;
	width: 600px;
	border: none;
	outline: none;
	color: #171515;
	background: #b9b6a5ff;
	border-radius: 5px;
}
.box_signup{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
	width: 600px;
	border: none;
	outline: none;
	color: #171515;
	background: #b9b6a5ff;
	border-radius: 5px;
	margin-bottom: 10px;
	
}
.box_top_article{
	display: flex;
	justify-content: center;
	gap: 20px; /* Adjust the space between containers */
	max-width: 100%;
	
}
.signup-input {
	margin-bottom: 5px; 
	margin-top: 3px;
	padding: 2px;
  }

.box_card{
	display: flex;
	flex-direction: column;
	text-align: left;
	height: auto;
	width: 570px;
	border: 1px solid rgb(43, 42, 41);
	outline: none;
	color: #171515;
	background: #b7b9b8;
	z-index: 0;
	border-radius: 8px;

}
.line {
	display: flex;
	align-items: baseline;
	margin-bottom: 1px;
  }
  
  .line h1 {
	margin-right: 5px;
	font-weight: 900;
  }
  .error-message{
	color: red; /* Set the color you want */
	font-weight: bold; /* Optionally set font weight */
	margin-top: 10px; /* Add some spacing */
  }
  .input_box{
	flex-direction:  column ;
	display: flex;
	align-items: flex;
	justify-content: center;
  }
  .video_box_card{
	flex-direction:  column ;
	display: flex;
	align-items: flex;
	justify-content: center;
	width: 450px;
	height: 610px;
  }
  .deal_box{
	flex-direction:row;
	display: flex;
	align-items: flex;
	justify-content: space-around;
	
  }
  .header_title{
	color:#54b549;
	font-weight: bold; /* Optionally set font weight */
	margin-top: 10px; /* Add some spacing */
  }