/* Token panel container */
.token_panel_container {
  display: flex;
  color: #0c0c0c; /* Adjust text color */
  justify-content: center; /* Center the box horizontally */
}

/* Tokens box */
.tokens_box {
  background: linear-gradient(
    to bottom right,
    #4caf50,
    #ffffff
  ); /* Gradient green to white */
  border-radius: 16px; /* Increase border radius for a smoother appearance */
  border: 2px solid #cfd9f0; /* Adjust border color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  padding: 2em;
  max-height: 300px; /* Adjust maximum height */
  width: 420px;
  overflow-y: auto; /* Change overflow to auto for scrollable content */
}

/* Header */
.header {
  font-weight: 700;
  font-size: 1.2rem; /* Adjust font size */
  margin-bottom: 2em;
}

/* Token container */
.token_container {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5em;
  align-items: center;
}

/* Image container */
.image_container,
.image_placeholder_container {
  height: 40px; /* Increase image container size */
  width: 40px;
  border-radius: 50%; /* Adjust border radius */
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Adjust border radius */
}

/* Token name and symbol container */
.token_name_sybol_container {
  display: flex;
  column-gap: 0.5rem;
}

/* Token name and logo */
.token_name_logo {
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 1em;
}

/* Token info */
.token_info {
  display: flex;
  gap: 0.5em;
  font-weight: 700;
}

/* Coin symbol */
.coin_symbol {
  color: #4e4e4e;
}
